<h1><%= MiningType.model_name.human(count: @mining_types.count) %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @mining_types.human_attribute_name(:description) %></th>
      <th><%= @mining_types.human_attribute_name(:acronym) %></th>
      <th colspan="2"><%= t("actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronym %></td>
        <td>
          <%= link_to(edit_mining_type_path(mining_type)) do %>
          <i class="fa fa-pencil fa-lg"></i>
          <% end%>
        </td>
        <td>
          <%= link_to(mining_type, method: :delete, data: { confirm: t("messages.confirm") }) do %>
            <i class="fa fa-trash fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("link.new"), new_mining_type_path, class: "btn btn-primary" %>
