<%= form_with(model: coin, local: true) do |form| %>

  <div class="form-group">
    <%= form.label t("description") %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t("attributes_model.acronym") %>
    <%= form.text_field :acronym, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label t("attributes_model.url_image") %>
    <%= form.text_field :urlImage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t("attributes_model.mining_type") %>
    <%= form.select :mining_type_id, @mining_type_options,
      {}, class: "custom-select" %>
  </div>

  <div class="form-group">
    <%= form.submit t('create.coin'), class: "btn btn-success" %>
    <%= link_to t('links.back'), coins_path, class: "btn btn-secondary" %>
  </div>
<% end %>
