<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t("attributes_model.description") %></th>
      <th><%= t("attributes_model.acronym") %></th>
      <th><%= t("attributes_model.url_image") %></th>
      <th><%= t("attributes_model.mining_type") %></th>
      <th colspan="2"><%= t("actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.urlImage, width:25, height:25 %></td>
        <td><%= coin.mining_type.acronym %></td>
        <td>
          <%= link_to(edit_coin_path(coin)) do %>
          <i class="fa fa-pencil fa-lg"></i>
          <% end%>
        </td>
        <td>
          <%= link_to(coin, method: :delete, data: { confirm: t("messages.confirm") }) do %>
            <i class="fa fa-trash fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("links.new"), new_coin_path, class: "btn btn-primary" %>


